<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
NB! Documentation https://hibernate.org/orm/documentation/6.4/
    This file was taken from https://github.com/marcobehlerjetbrains/hibernate-tutorial/blob/main/src/main/resources/hibernate.cfg.xml
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./boardgame;AUTO_SERVER=TRUE</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>


        <!-- auto creating tables -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.excercise.entities.Boardgame"/>
        <mapping class="com.excercise.entities.Player"/>
        <mapping class="com.excercise.entities.PlayerBoardgamePlays"/>



    </session-factory>

</hibernate-configuration>